<html>
    <head>
        <script>
         function onSubmit() {
             fetch('/echo', {
                 method: 'POST',
                 headers: {
                     'Content-Type': 'application/json'
                 },
                 body: JSON.stringify({
                     'name': document.getElementById('name').value})
             }).then(function (response) {
                 if(response.status == 200)
                     response.text().then(function (text) {
                         document.getElementById('result').innerHTML = text
                     })
             });
         }
        </script>
    </head>
    <body>
        <form id="form">
            What's your name?: <input id="name"/>
            <input type="button" value="Submit" onclick="onSubmit()"/>
        </form>
        Reply:
        <div id="result"/>
    </body>
</html>
